<div class="auth-container" ng-hide="isAuth()">
      <div class="auth mdl-cell mdl-shadow--2dp mdl-grid"/>
         <div class="mdl-cell mdl-cell--12-col">
             <img src="img/logo-pc.png" alt="" width="50px"/>
         </div>
         <form name="authentication" novalidate>
             <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                       <input
                        id="name"
                        name="text"
                        type="text"
                        class="mdl-textfield__input" 
                        required
                        ng-click="resetError()">
                        <label class="mdl-textfield__label" for="username">Username</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                        <input
                        id="password"
                        name="password"
                        type="password"
                        class="mdl-textfield__input" 
                        required
                        ng-model="password"
                        ng-click="resetError()">
                        <label class="mdl-textfield__label" for="password">Text...</label>
                    </div>
                </div>
                <div class="login-error mdl-cell mdl-cell--12-col" ng-show="loginError">
                   {{loginError}}
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="auth-button mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect mdl-cell--12-col"
                        ng-disabled="authentication.$invalid" ng-click="login(password)">
                        <i ng-show="authenticating" class="icon fa fa-spinner fa-spin"></i>
                        Login
                    </div>
                </div>
             </div>
          </form>
      </div>
</div>