<div class="col-xs-12 drag-container">
     <!--NAV TO HOMEPAGE  AND TITLE-->
     <div class="col-xs-12 d-nav">
         <div class="col-sm-3">
           <h2>
             <a class="icon fa fa-arrow-left" href="#!/home"></a>
             Home
           </h2>
         </div>
         <div class="col-sm-9">
           <h2 style="margin-left:1.6em;">
               {{certTemplate.categoryName}}
           </h2>
         </div>
     </div>
     <!--END OF NAV TO HOMEPAGE AND TITLE-->

     <!--WORK SPACE where template and placeholder text are displayed-->
     <span style="padding:0;display:inline-block; width:{{boxX}}px; height:{{boxY}}px;
        outline:1px dotted #ccc; position:absolute;left:0;top:0; margin-left:{{mL}}px; margin-top:{{mT}}px"
          ng-mousemove="recordParent($event)">
          <awesome-img url="{{certTemplate.imgUrl}}" style="width:100%; z-index:-1" boxx="{{boxX}}" boxy="{{boxY}}"></awesome-img>
          <span class="btn btn-default" style="border-radius:0; display:inline-block;padding:.3em;
               position:absolute; top:{{certTemplate.y}}px;left:{{certTemplate.x}}px;font-size:1.5em;
                   background-color:rgba(255 , 255 , 255, .1);border:none; box-shadow:none"
                   ng-mousemove="recordChild($event)"
                   ng-click="recordDown($event)">
                 <span style="font-size:{{certTemplate.font.size}}px;color:{{certTemplate.color}};font-weight:{{certTemplate.font.weight}};
                           font-style:{{certTemplate.font.style}}; font-face:{{certTemplate.font.face}}; font-family:sans-serif;">
                           {{certTemplate.placeholderText}}
                 </span>
           </span>
     </span>
     <!--END OF WORK SPACE-->

     <!--SIDE NAV-->
     <div class="col-sm-3" style="padding-left:0">
           <!--SIDE NAV TAB VIEW MENU-->
           <span style="margin-bottom:1em; height:3em; display:block;">
               <span style="display:block; float:left; text-align:center; padding-top:.6em; height:3em; border:1px solid #ccc;
                            border-top:{{view=='templates'?'none': '1px solid #ccc'}};
                            border-bottom:{{view=='settings'?'none': '1px solid #ccc'}}; width:50%"
                      ng-click="toggleView('settings')">
                      Settings
              </span>
               <span style="display:block; float:left; text-align:center;  padding-top:.6em; height:3em; border:1px solid #ccc;
                            border-top:{{view=='settings'?'none': '1px solid #ccc'}};
                            border-bottom:{{view=='templates'?'none': '1px solid #ccc'}}; width:50%"
                      ng-click="toggleView('templates')"
                      >Templates</span>
           </span>
           <!--END OF SIDE NAV TAB VIEW MENU-->

           <!--SETTINGS FORM STARTS HERE-->
           <div class="col-xs-12" style="padding:0" ng-show="view == 'settings'">
               <span  style="margin-bottom:1em; display:block; outline:none; margin-top:2em">
                    <button class="btn btn-default" name="button" ng-click="selectFromDropBox()">
                         <i class="icon fa fa-dropbox" style="color:blue"></i> select an image from dropbox
                    </button>
               </span>
               <input type="text" class="form-control" placeholder="Type a placeholder here" ng-model="certTemplate.placeholderText" style="margin-bottom:1em">
               <input type="text" class="form-control" placeholder="Type category name here" ng-disabled="true" ng-model="certTemplate.categoryName" style="margin-bottom:1em">
               <input type="number" class="form-control" placeholder="Adjust font size" ng-model="certTemplate.font.size"  style="margin-bottom:1em">
               <input type="text" class="form-control" placeholder="Enter color name or #" ng-model="certTemplate.color"  style="margin-bottom:1em">
               <input type="text" class="form-control" placeholder="Enter font type here" ng-model="certTemplate.font.face"  style="margin-bottom:1em">
               <span style="margin-bottom:1em; display:inline-block">
                    <div class="btn-group">
                      <button class="btn btn-default {{certTemplate.font.weight=='normal'? '' : 'btn-info'}}" name="button" ng-click="toggleStyle('weight')" style="outline:none">
                          <i class="icon fa fa-bold"></i>
                      </button>
                      <button class="btn btn-default {{certTemplate.font.style=='normal'? '' : 'btn-info'}}" name="button"  ng-click="toggleStyle('style')" style="outline:none">
                          <i class="icon fa fa-italic"></i>
                      </button>
                    </div>
               </span><br>
               <a class="btn btn-default" href="/digifyBytes/viewCert?auth=true&role={{certTemplate.categoryName}}"
                  ng-disabled="!canPreview()" target="_blank">
                 Preview
               </a>
               <button class="btn btn-primary" name="button" ng-click="saveTemplate()">
                 <i class="icon fa fa-spinner fa-spin" ng-show="savingTemplate"></i>
                 <i class="icon fa fa-save" ng-hide="savingTemplate"></i>
                  <span ng-hide="certTemplate._id">Save</span> <span ng-show="certTemplate._id">Update</span> template
               </button>
               <button class="btn btn-danger" name="button" ng-click="deleteTemplate()" ng-disabled="!canDelete()">
                  <i class="icon fa fa-trash" ng-hide="deletingTemplate"></i>
                  <i class="icon fa fa-spinner fa-spin" ng-show="deletingTemplate"></i>
               </button>
           </div>
           <!--SETTINGS FORM ENDS HERE-->

           <!--TEMPLATES VIEW STARTS HERE-->
           <div class="col-xs-12" style="padding:0" ng-show="view == 'templates'">
               <div class="col-xs-12" style="padding:0; margin-bottom:1.5em">
                   <h3 style="">{{certTemplates.length}} Templates
                     <button class="btn btn-sm btn-default pull-right" ng-click="addTemplate()">
                          <i class="icon fa fa-plus"></i> New Template
                     </button>
                   </h3>
                </div>
                <div class="col-xs-12" style="padding:0;height:500px; overflow:auto">
                    <button type="button" class="btn btn-default btn-block"
                       style="margin-bottom:1em"
                       ng-repeat="template in certTemplates"
                       ng-click="changeActiveTemplate(template)"
                       ng-class="activeTemplateClass(template)">
                       {{template.categoryName}}
                    </button>
                </div>
           </div>
           <!--TEMPLATES VIEW ENDS HERE-->
     </div>
     <!--END OF SIDE NAV-->
</div>

 <!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">